$color: blue;

body{
    background-color: $color;
    .block1 
    {
        color: $color;
        background-color: $color;
        p {
            font-weight: 100px;
            background-color: yellow;
            line-height: 200px;
        }
    }
}