<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        title Document
    body
        .container.pt-4
            .row
                .column.col-12.col-md-3.mb-4.mb-md-0 1 из 4
                .column.col-12.col-md-3.mb-4.mb-md-0 2 из 4
                .column.col-12.col-md-3.mb-4.mb-md-0 3 из 4
                .column.col-12.col-md-3.mb-0.mb-md-4.mb-md-0 4 из 4
        
            .row
                .column-next.col-12.col-md-7.col-sm-5.mt-4 
                    p В этом руководстве мы будем использовать Jade для создания некоторых из наиболее известных компонентов фреймворка Bootstrap.
                .column-next.col-12.col-md-5.col-sm-7.mt-4 
                
                    .column-small.col-12.col-md-12.col-sm-12
                        h3.mt-4 изучение bootstrap
                    .column-small.col-12.col-md-12.col-sm-12
                        p.mt-2 Необработанный HTML в Jade
                    .column-small.col-12.col-md-12.col-sm-12
                        a(href="#") позвони
        .container-next.mb-3
            .row
                .column-x.col.col-md-4.col-sm-4 play1
                .column-x.col.col-md-4.col-sm-4 play2
                .column-x.col.col-md-4.col-sm-4 play3
                  




                
           
        script (src="js/bootstrap.min.js")