
body {
    margin: 0;
    padding: 0;
    background-color:#F6F6F8 ;
    font-family: 'Montserrat', sans-serif;
    
}
header {
    margin: 0 auto;
}

.header-wrapper {
    max-width: 1920px;
    background: #fff url('./images/rectangle.jpg');
    min-height: 900px;
}

.header-navigation {
    border-bottom: 1px solid #A1A1A1;
}
.navigation-wrapper {
    display: flex;
    align-items: stretch;
    height: 100px;
    justify-content: flex-end;
}

.navigation-item {
    margin: 0 0 0 40px;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
}

.navigation-item a:hover {
    border-bottom: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.navigation-item a {
    line-height: 100px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.navigation-item:first-child {
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    /* background-color: rgb(255,255,255,0.65); */
}
 .presentation {
    justify-content: center;
    align-items: center;

    
 }
 .about {
    margin-top: 220px ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

 }
 .slogan {
    margin: 0 auto;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    width: 829px;
    
 }
 .projects {
    display: block;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 50px auto 0 auto;  
    border: 0;
    }
    
.mobile_add {
    margin: 0 auto;
    max-width: 1920px;
    }

.mobile_add h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    margin: 110px auto 0 auto;
    width: 739px;
    height: 88px;   
    }

.mobile_add p {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 50px auto 0 auto;
    width: 730px;
    height: 41px;
    }
.services {
    width: 1920px;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    }

.service {
    display: flex;
    

    }
.create_sites {
    width: 222px;
    margin: 44px 0 0 17px;


    }
.create_sites h3 {
    margin: 0;
}

.circle {
    border-radius: 50%;
    }
.outerellipse {
    width: 110px;
    height: 110px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    }
.inerellipse{
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    box-sizing: border-box;
    position: relative;
    top: 9px;
    left: 9px;

    }
.note {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.all_services {
    width: 200px;
    height: 45px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 55px auto 105px auto;


}    
    






