<!doctype html>


- var datetimeversion = new Date().toISOString()

<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    link(rel="stylesheet", href="css/styles.css?ver=${datetimeversion}")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Мой третий проект</title>
  </head>
  <body>
    .container
      nav.navbar.navbar-expand-lg.navbar-expand-md.navbar-light.bg-light
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Для мужчин
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='#') Одежда
                a.dropdown-item(href='#') Обувь
                a.dropdown-item(href='#') Аксессуары
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Для женщин
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='#') Одежда
                a.dropdown-item(href='#') Обувь 
                a.dropdown-item(href='#') Аксессуары
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Для детей
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='#') Одежда
                a.dropdown-item(href='#') Обувь
                a.dropdown-item(href='#') Аксессуары
            .navigation-logo
              img(src="image/logo.svg", alt="logo")
            li.nav-item.active
              a.nav-link(href='#')
                | Оплата
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Доставка
            li.nav-item.nav-item-basket
              a.nav-link(href='#' data-toggle='modal' data-target='#exampleModal') 
                img(src="image/first-screen__basket.svg", alt="first-screen__basket")
                #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h5#exampleModalLabel.modal-title Basket
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                      .modal-body
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi necessitatibus ullam maxime earum tempore amet nam, deserunt ratione autem et neque vel? Commodi odit iusto cumque eligendi nam laudantium. ...
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
          li(data-target='#carouselExampleIndicators' data-slide-to='1')
          li(data-target='#carouselExampleIndicators' data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            .row
              .column.col-lg-6.col-md-12.col-sm-12.col-xs-12
                p.carousel Зимняя распродажа
                h1.carousel скидки до 90%
                button.carousel смотреть модели
              .column.col-lg-6.col-md-12.col-sm-12.col-xs-12
                p.last 9 900 ₽
                p.new 1 900 ₽
                img.d-block.w-100(src='image/running_shoes.png' alt='running_shoes')
          .carousel-item
            .row
              .column.col-lg-6.col-md-12.col-sm-12.col-xs-12
                p.carousel Выгодные предложения
                h1.carousel скидки до 50%
                button.carousel смотреть модели
              .column.col-lg-6.col-md-12.col-sm-12.col-xs-12 
                p.last 9 900 ₽
                p.new 4 900 ₽
                img.d-block.w-100(src='image/running_shoes.png' alt='running_shoes')
          .carousel-item
            .row
              .column.col-lg-6.col-md-12.col-sm-12.col-xs-12
                p.carousel Модные аксессуары
                h1.carousel 2 по цене 1
                button.carousel смотреть модели
              .column.col-lg-6.col-md-12.col-sm-12.col-xs-12
                p.last 9 900 ₽
                p.new 5000 ₽
                img.d-block.w-100(src='image/running_shoes.png' alt='running_shoes')
            
        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    section.section-black
      h2.shipping БЕСПЛАТНАЯ ДОСТАВКА ОТ 3000₽
      p.present Сделайте заказ и получите подарок!
    .container
      .row
        .column.col-lg-6.col-md-6.col-sm-12.col-xs-12
          .row.dress-style-m
            .column.col-lg-8.col-md-8.col-sm-12.col-xs-12.add-background-left
              h3.dress МУЖСКАЯ КОЛЛЕКЦИЯ
              p.kind-dress Обувь, полуверы, костюмы
              button.arrow
                i.fal.fa-long-arrow-right
            .column.col-lg-4.col-md-4.col-sm-12.col-xs-12
              img.man(src="image/man.png", alt="man")
          .row
            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ

            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ
              
            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ
              
            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ
              

        .column.col-lg-6.col-md-6.col-sm-12.col-xs-12
          .row.dress-style-w
            .column.col-lg-8.col-md-8.col-sm-12.col-xs-12.add-background-right
              h3.dress ЖЕНСКАЯ КОЛЛЕКЦИЯ 
              p.kind-dress Обувь, полуверы, костюмы
              button.arrow
                 i.fal.fa-long-arrow-right
            .column.col-lg-4.col-md-4.col-sm-12.col-xs-12
              img.woman(src="image/woman.png", alt="woman")
          .row
            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ
             
            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ
              
            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ
              
            .column.col-lg-6.col-md-12.col-sm-12.description
              p.wear ПЛАТЬЯ
              
    .container
      h2.new-model.text-center Новые модели
      .row
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model.img-fluid(src="image/new-dress.png", alt="new-dress")
          p.name Коктейльное платье
          h3.price ₽ 40 000
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model(src="image/new-dress.png", alt="new-dress")
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          p.name Коктейльное платье
          h3.price ₽ 40 000
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model(src="image/new-dress.png", alt="new-dress")
          p.name Коктейльное платье
          h3.price ₽ 40 000
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model(src="image/new-dress.png", alt="new-dress")
          p.name Коктейльное платье
          h3.price ₽ 40 000
      button.all-models ВСЕ МОДЕЛИ
        i.fal.fa-long-arrow-right
    section.section-gift
      .container
        form.discount
          .form-group.row.discount
            label.discount.col-lg-7.col-sm-12.col-form-label(for='inputdiscountemail') ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
            .col-lg-3.col-sm-12
              input#inputdiscountemail.form-control(type='email' placeholder='Ваш e-mail')
            .col-lg-2.col-sm-12
              button.discount.form-control(type='submit') ПОДПИСАТЬСЯ
    .container
      h2.new-model.text-center СКИДКИ ДО 90%
      .row
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model.img-fluid(src="image/new-dress.png", alt="new-dress")
          p.name Коктейльное платье
          h3.price ₽ 40 000
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model(src="image/new-dress.png", alt="new-dress")
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          p.name Коктейльное платье
          h3.price ₽ 40 000
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model(src="image/new-dress.png", alt="new-dress")
          p.name Коктейльное платье
          h3.price ₽ 40 000
        .column.col-lg-3.col-md-6.col-sm-12.text-center.new-dresses
          .corner.left-top
          .corner.right-top
          .corner.left-bottom
          .corner.right-bottom
          img.model(src="image/new-dress.png", alt="new-dress")
          p.name Коктейльное платье
          h3.price ₽ 40 000
      button.all-models ВСЕ МОДЕЛИ
        i.fal.fa-long-arrow-right
    footer
      .container
        .row
          .column.col-lg-4.col-md-6.col-sm-12
            img.logo(src="image/logotype.svg", alt="logo")
            p.logo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
          .column.col-lg-8.col-md-6.col-sm-12
            .row
              .column.col-lg-3.col-md-6.col-sm-12.footer-items
                h3 Основные ссылки
                p О компании
                p Каталог
                p Доставка
                p Оплата
              .column.col-lg-3.col-md-6.col-sm-12.footer-items
                h3 Категории
                p Мужская одежда
                p Женская одежда
                p Детская одежда
                p Для животных
              .column.col-lg-3.col-md-6.col-sm-12.footer-items
                h3 Полезные ссылки
                p Таблица размеров
                p Блог о моде
                p Наша миссия
              .column.col-lg-3.col-md-6.col-sm-12.footer-items
                h3 Соц сети
                .social-item
                  i.fab.fa-vk 
                  span VK.com  
                .social-item
                  i.fab.fa-facebook-square  
                  span Facebook
                .social-item
                  i.fab.fa-instagram 
                  span Instagram
    .container
      .row
        .column.col-lg-6.col-md-6.col-sm-12.text-left
          p.copyright Copyright © 2019. Все права защищены
        .column.col-lg-6.col-md-6.col-sm-12.text-right
          p.copyright Политика приватности
                    
                



      
      




              




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>